.footer {
  position: relative;
  background-color: #efc81a;
  /* top: 200px; */
  height: 300px;
  bottom: 0px;
  width: 100%;
}

.list {
  position: absolute;
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  bottom: 0px;
}
