.sideColor {
  background-color: #efc81a;
  height: 1210px;
  width: 30%;
  position: absolute;
  right: 0;
  z-index: -1;
  /* position: absolute; */
  /* margin-top: -150px; */
}

.popular {
  border-left: 25px solid #efc81a;
  margin-top: 300px;
}

.frame {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: -2;
}

.frame_2 {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 20;
}

.title {
  left: 40%;
  position: absolute;
}

.frameImage {
  border-radius: 15px;
}

.recipeName {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.children {
  margin-bottom: 200px;
}

.btnSearch {
  position: absolute;
  top: 30%;
  left: 32%;
}

.btnRemove {
  position: absolute;
  top: 30%;
  right: 32%;
}

.dropdown {
  width: 20%;
  margin: 0 auto;
  position: relative;
}

.dropdown .dropdown_btn {
  padding: 10px;
  background-color: #efc81a;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown_content {
  position: absolute;
  padding: 15px;
  background-color: blue;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: white;
}

.dropdown .dropdown_content .dropdown_item {
  padding: 10px;
}
